ul
{
list-style-type: none;
}

.edit{
margin-left:20%;

}
#add-event
{
    width: 171px;
    position: relative;
    float: center;
    left: 12%;
    margin: 21px;
    font-size: 1em;
    background-color: yellow;
    border: solid green 1px;


}




.delete
{



}
#name
{
	    padding: 2px;
    padding-right: 44px;
    margin-bottom: 10px;
    margin-left: 57px;

 }

#email{margin-left: 99px;
margin-bottom: 10px;
    padding: 2px;
    padding-right: 42px;


}

#date{padding: 2px;
    padding-right: 44px;
    margin-left: 106px;
    margin-bottom: 10px;

}

#desc{
	margin-bottom: 10px;
    padding: 7px;

}
.descl
{
position: relative;
    bottom: 43px;


}
#place
{
	padding: 2px;
    padding-right: 44px;
    margin-left: 98px;
    margin-bottom: 10px;
}

#sb{


    position: relative;
    left: 33%;
    top: 10px;
    width: 70px;
    font-size: 1em;
}


.form-ul
{

list-style-type: none;
}
.frm-dv
{
	position: relative;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    margin-right: 65%;
    background-color: #efefef;
    padding-top: 10px;
    padding-bottom: 10px;
}

.eventName
{
position: relative;
left:10px;
font-size: 21px
}
.eventDate
{
position: relative;
left:36px;
font-size: 21px

}

.description
{
position: relative;
left:77px;
font-size: 21px

}
.btn
{
position: relative;
left:120px;
background-color: yellow;
    font-size: 13px;
    border: solid red 1px;
}
