<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/Users/rahulsurvase/crud/css/style.css">
	<title>add event</title>
</head>
<body>

	<form id="addPerson" action="">

     <section id="routemenu">
<!--<input type="text" placeholder="Name of the person">-->

<a href="/Users/rahulsurvase/crud/eform.html"><input type="button" id="add-event" value="ADD EVENT" /></a>
	</form>



<!--<script id="personTemplate" type="text/template">
	<span><strong><%= name %></strong> (<%= age %>) - <%= occupation %></span> 
	<button class="edit">Edit</button>
	<button class="delete">Delete</button>
</script>
-->

<script src="/Users/rahulsurvase/crud/js/underscore.js"></script>
<script src="/Users/rahulsurvase/crud/js/jquery.js"></script>
<script src="/Users/rahulsurvase/crud/js/handlebars.js"></script>
<script src="/Users/rahulsurvase/crud/js/backbone.js"></script>
<script src="/Users/rahulsurvase/crud/js/main.js"></script>



</body>
</html>
